* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh; /* Ajusta la altura según sea necesario */
}

footer {
  background-color: gold;
}

.divFooterFinal {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.prueba {
  display: flex;
  width: 40%;
  height: 25%;
 }

.prueba img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
  border-radius: 10%;
}

.prueba img:hover {
  
  width: 15%;
  opacity: 1;
  filter: contrast(120%);
}

.prueba2{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.prueba2 p{
text-align: center;
}
