* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según sea necesario */
}

footer {
  background-color: gold;
}

.divFooterFinal {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

section {
  display: flex;
  width: 600px;
  height: 430px;
  background-color: blue;
}

section img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

section img:hover {
  
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
